body{
margin: 0;
padding: 0;
background-color: #f0f0f0;
}
.container{
margin: 20px auto;
text-align: center;
width: 60%;
background-color: #fff;
padding: 10px;
}
h1{
	font-size: 2em;
}
.addItem{
padding: 10px 0;
width: 100%;
margin: 0;
font-size: 1.2em;
}

li.items{

border: 6px solid #666;
margin: 10px auto;
padding: 20px;
text-align: left;
text-decoration: none;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*li.items:nth-child(2){
background-color: #79BD9A ;
color: #fff;
border: 6px solid #3B8686;

}*/
.remove{
	cursor: pointer;
	float: right;
	display: inline-block;
}

#add{
	float: right;
	position: relative;
	left: 0;
	top: -30px;

}

.results .fa{
float: right;
cursor: pointer;
color: #000;
display: none;

}

