body{
	margin: 0;
	padding: 0;
	background-color: #3A7187;

}
.container{
	margin: 180px auto;
	text-align: center;
	width: 70%;
}
h1{
	font-size: 2.3em;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
}
h2{
	color: #fff;
	
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
.addItem{
	padding: 12px 0;
	border: 3px solid #5DC66A;
	margin: 0;
	font-size: 1.2em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: none;
	width: 100%;



}

input[type=text]
{
    color: #979797;
   
}

.items{
	border: 3px solid #23A072;
	color: #fff;
	margin: 10px auto;
	padding: 20px;
	text-align: left;
	
	-webkit-transition-timing-function: ease;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 1.200em;
	font-family: 'Lato', sans-serif;
}
li.strike{
   text-decoration: line-through;



}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.checkitems{
	background-color: #79BD9A ;
	color: #fff;
	border: 6px solid #3B8686;
}

#add{
	background-color: #2B4A65;
	margin-top: 10px;
	padding: 0.968em 3.9em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:none;
	color: #fff;
	font-size: 1.000em;
	font-family: 'Lato', sans-serif;
	width: 100%;
	

}


#add:hover{
	background-color: #2B4360;

	

}
.fa-trash{
	float: right;
	cursor: pointer;
	color: #fff;
	margin-right: 10px;
}
.results .fa-thumbs-up{
	float: left;
	display: none;
	color: #fff;
	width: 35px;
	height: 35px;

}
